body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* alert message */
.alert_message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.578);
    border: 2px solid red;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;

    &>i {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;

        &:hover {
            color: rgba(0, 0, 0, 0.343);
        }
    }

}

/* end alert message */

/* message error list */
.alert_message_list {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    background-color: rgba(255, 0, 0, 0.578);
    border: 2px solid red;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;

    &>i {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;

        &:hover {
            color: rgba(0, 0, 0, 0.343);
        }
    }
}

/* end message error list */

/* page register and login */
.page_register,
.page_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;


    &>.container_credentials {
        margin: 20px auto;
        max-width: 500px;
        width: 85%;
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &>h1 {
            text-align: center;
            margin: 0 0 20px;
        }

        &>a {
            display: block;
            margin-bottom: 20px
        }

        &>form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            &>.container_input {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 5px;

                &>label {
                    font-weight: 500;
                }

                &>input {
                    outline: none;
                    padding: 7px;
                    border-radius: 3px;
                    border: 1px solid black;
                    background-color: #fff;

                    transition: all 0.3s ease-in-out;

                    &:focus {
                        border: 1px solid #007bff;
                        box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.3);
                    }
                }

                &>.error_js {
                    color: red;
                    font-size: 14px;
                    display: none;
                }

                &>.field_password {
                    width: 100%;
                    position: relative;
                    display: flex;

                    &>input {
                        width: 100%;
                        display: block;
                        outline: none;
                        padding: 7px;
                        border-radius: 3px;
                        border: 1px solid black;
                        background-color: #fff;

                        transition: all 0.3s ease-in-out;

                        &:focus {
                            border: 1px solid #007bff;
                            box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.3);
                        }
                    }

                    &>i {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: 20px;
                        color: #007bff;

                        &:hover {
                            color: #0056b3;
                        }
                    }
                }



            }

            &>.container_input_address {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                &>.field_address {
                    width: calc(50% - 5px);
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    &>label {
                        font-weight: 500;
                    }

                    &>input {
                        outline: none;
                        padding: 7px;
                        border-radius: 3px;
                        border: 1px solid black;
                        background-color: #fff;

                        transition: all 0.3s ease-in-out;

                        &:focus {
                            border: 1px solid #007bff;
                            box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.3);
                        }
                    }

                    &>.error_js {
                        color: red;
                        font-size: 14px;
                        display: none;
                    }
                }

                &>.error_js {
                    color: red;
                    font-size: 14px;
                    display: none;
                }
            }

            &>.button_form {

                &>.btn_submit {
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                    border-radius: 5px;
                    border: none;
                    background-color: #007bff;
                    color: #fff;
                    font-size: 17px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #0056b3;
                    }
                }

                &>.btn_load {
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                    border-radius: 5px;
                    border: none;
                    background-color: #007bff7e;
                    color: #fff;
                    font-size: 17px;
                    display: none;
                    ;
                }

            }
        }
    }
}

/* end page register and login */

/* header for dashboard page */
#site_header {

    padding: 10px 30px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &>.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        &>.left {
            font-size: 30px;

        }

        &>.right>ul {
            list-style: none;
            display: flex;
            gap: 15px;

            &>li>a {
                position: relative;
                text-decoration: none;
                color: #000;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: #007bff;

                    &>.tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &>.tooltip {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #007bff;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    white-space: nowrap;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;

                }
            }

        }
    }



}

/* end header for dashboard page */

/* main for dashboard page */
#site_main {
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

/* end main for dashboard page */