:root {
    --primary-color: #007bff;
    --background-color: #f0f8ff;
    --background-footer-heder: #1e90ff;
    --text-primary-color: #2c3e50;
    --text-secondary-color: #7f8c8d;
    --btn-active-color: #48c9b0;
    --btn-color: #ff6b6b;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui !important;
    font-size: 10px !important;
    line-height: 0.9rem;
    background-color: var(--background-color);
    color: var(--text-primary-color);
}

/* alert message */
.alert_message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.578);
    border: 2px solid red;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;

    z-index: 1000;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;

    &>i {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;

        &:hover {
            color: rgba(0, 0, 0, 0.343);
        }
    }

}

/* end alert message */

/* message error list */
.alert_message_list {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    background-color: rgba(255, 0, 0, 0.578);
    border: 2px solid red;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;

    &>i {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;

        &:hover {
            color: rgba(0, 0, 0, 0.343);
        }
    }
}

/* end message error list */
.input-container {
    position: relative;
    margin: 15px 0;
    width: 100%
}

.input-container input[type="text"],
.input-container input[type="password"] {
    font-size: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label,
.input-container input[type="password"]:focus~.label,
.input-container input[type="password"]:valid~.label {
    top: -20px;
    font-size: 10px;
    color: var(--text-primary-color);
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--text-primary-color);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline,
.input-container input[type="password"]:focus~.underline,
.input-container input[type="password"]:valid~.underline {
    transform: scaleX(1);
}

#icon-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 15px;
}

.error_js {
    color: red;
    font-size: 8px;
    display: none;
    margin-bottom: 10px;
}

.login-registraztion-link {
    font-size: 8px;
    margin: 10px 0;
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;
    display: inline-block;

    &:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }
}

/* page register and login */
.page_register,
.page_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background-color: var(--background-color);

    &>.container_credentials {
        margin: 20px auto;
        max-width: 300px;
        width: 85%;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &>h5 {
            text-align: center;
            margin: 10px 0 30px;
        }

        &>a {
            display: block;
            margin-bottom: 20px
        }

        &>form {
            display: flex;
            flex-direction: column;






            &>.button_form {

                &>.btn_submit {
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                    border-radius: 5px;
                    border: none;
                    background-color: #007bff;
                    color: #fff;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #0056b3;
                    }
                }

                &>.btn_load {
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                    border-radius: 5px;
                    border: none;
                    background-color: #007bff7e;
                    color: #fff;

                    display: none;
                    ;
                }

            }
        }
    }
}

/* end page register and login */

/* header for dashboard page */
#site_header {

    padding: 10px 30px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &>.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;

        &>.left {
            font-size: 30px;

        }

        &>.right>ul {
            list-style: none;
            display: flex;
            gap: 15px;

            &>li>a {
                position: relative;
                text-decoration: none;
                color: #000;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: #007bff;

                    &>.tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &>.tooltip {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #007bff;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    white-space: nowrap;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;

                }
            }

        }
    }



}

/* end header for dashboard page */

/* main for dashboard page */
#site_main {
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;




    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

/* end main for dashboard page */


.alert_message_succefull {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: rgba(0, 128, 0, 0.353);
    border: 2px solid green;
    border-radius: 10px;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    position: relative;

    &>i {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;

        &:hover {
            color: rgba(0, 0, 0, 0.343);
        }
    }
}


/* site_main of setting page */

#site_main_setting {


    &>.container_data {
        width: 80%;
        max-width: 300px;
        margin: 30px auto;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &>h2 {
            text-align: center;
            padding-bottom: 30px;
        }

        &>form {
            display: flex;
            flex-direction: column;




            &>.button_form {

                &>.btn_submit_data,
                &>.btn_submit_access {
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                    border-radius: 5px;
                    border: none;
                    background-color: #007bff;
                    color: #fff;
                    font-size: 17px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #0056b3;
                    }
                }

                &>.btn_load_data,
                &>.btn_load_access {
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                    border-radius: 5px;
                    border: none;
                    background-color: #007bff7e;
                    color: #fff;
                    font-size: 17px;
                    display: none;

                }

            }
        }
    }

}